#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By <a target="_blank" rel="noopener" href="https://github.com/Gahotx">${config.author}</a> | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011802002261"><img style="vertical-align:sub" class="entered loading" src="https://unpkg.zhimg.com/gahotx-cdn/photo/gongan.png"> 浙公网安备 33011802002261号</a> | <a href="http://beian.miit.gov.cn" target="_blank" data-pjax-state="external">浙ICP备2021008340号</a>`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
